/* font Roboto regular */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* general */

.body {
    font-family: "Roboto", sans-serif;
}

nav img {
    width: 3rem;
}

nav a::after {
    content: "boolean ";
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

nav > div.d-flex:first-child {
    width: 100%;
}

nav form[role="search"] {
    border: .5px solid whitesmoke;
    border-radius: .5rem;
}

header {
    color: white;
    background-color:#051e34 ;
    background-image: url(../img/sidebar-bg.png);
    width: 9rem;
}

main {
    width: 100%;
}

/* my_class */

.my_bg-f8f9fa {
    background-color: #f8f9fa;
    color: #757575;
}

.my-color-bell {
    color: #ff8f00;
}

.my-bg-e5e5e5 {
    background-color: #e5e5e5;
}

.my_botton-search {
    border: 0;
    border-radius: 0;
    background: transparent;
    color: black;
}

.my_dimension {
    width: 100vw;
    height: 100vh;
    margin: .5rem;
}

/* ulteriori classi */

.my_none {
    display: none;
}

.my_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91.8vh;
}

.my_done {
    background-color: #198754;
    color: white;
}

.my_process {
    background-color:#ffc107 ;
    color: white;
}

.my_failed {
    background-color:#dc3545 ;
    color: white;
}

 .my_faq div .my_no-border {
    border-bottom: none;
}

.my_faq {
    border: 1px solid #cbcbcb  ;
    border-radius: .5rem;
}

 .my_faq h2 {
    border-bottom: 1px solid #cbcbcb  ;
    padding: 0.8rem;
}

 .my_faq div {
    border-bottom: 1px solid #cbcbcb  ;
    padding: 1rem;
}

.my_tabella {
    border: solid 1px #cbcbcb ;
    border-radius: 0.8rem;
}

.my_border-table {
    border-radius: 0.5rem;
    padding: 0.2rem;    
}

/* css personal <i> */

.fa-code {
    background-color:#f26551 ;
    border-radius: 50%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align:middle ;
    color: white;
    padding-top: 0.3rem;
    font-size: 1.3rem;
}

/* id  */

#stats{
    height: 200px;
    width: 200px;
}

/* media */

@media (max-width: 578px) {

    nav a::after {
        content: "";
    }

    header {
        width: 3.5rem;
    }
}

@media screen and (min-width:768px){

    .tabelle{
        height: 76vh;
    }

    .side{
        height: 90.7vh;
    }
}

.logo-sm{
    width: 50px;
    height: 50px;

}

@media screen and (min-width:992px){
    .my_none{
        display: inline
    }

    .tabelle{
        height: 81vh;
    }

    .side{
        height: 93.7vh;
    }

    .hover-opacity:hover{
        background-color: #828f95;    
     }
}