/* font Roboto regular */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* general */

.body {
    font-family: "Roboto", sans-serif;
}

nav form[role="search"] {
    border: .5px solid whitesmoke;
    border-radius: .5rem;
}

header {
    background-color: #051e34;
    height: 100vh;
}

nav img {
    width: 3rem;
}

nav a::after {
    content: "boolean ";
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

/* my_class */

.my_bg-f8f9fa {
    background-color: #f8f9fa;
    color: #757575;
}

.my-color-bell {
    color: #ff8f00;
}

.my-bg-e5e5e5 {
    background-color: #e5e5e5;
}

.my_botton-search {
    border: 0;
    border-radius: 0;
    background: transparent;
    color: black;
}